* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -40%; 
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.cell {
    background-color: white;
    margin: 0;
    border: none; 
}

.reset-grid-btn {
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
    color: white;
    border: none;
    background-color: hsl(207, 96%, 46%);
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color transform;
    transition-duration: 0.3s;
}

.reset-grid-btn:hover {
    background-color: hsl(207, 96%, 36%);
    transform: scale(1.05);
}
